<div class="container">
	
<h2> Profile</h2>

<div class="painting">
	<%= image_tag current_user.avatar.thumb.url %>
</div>

<br /> <h3>Your current listings: </h3>

<br /> <h3>Your current listings: </h3>

</div>